$breakpoints: (
    "desktop": 1280px,
    "smallDesktop": 1080px,
    "tablet": 600px,
    "mobile": 360px,
);

.signup-container {
    height: 100vh;
    width: 1044px;
    background-color: #eff6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    .signup-wrapper {
        display: flex;
        width: 88%;
        height: 76%;
        .left-item {
            height: 100%;
            width: 54%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: radial-gradient(
                circle at bottom left,
                rgb(191, 240, 234),
                rgb(195, 149, 228),
                rgb(107, 188, 223),
                rgb(65, 162, 217),
                rgb(215, 197, 252)
            );
            .wrapper {
                background-color: rgba(255, 255, 255, 0.3);
                width: 80%;
                padding: 40px 30px;
                font-size: 40px;
                color: #fff;
                .black-text {
                    display: block;
                    font-size: 44px;
                    text-decoration: underline;
                    color: #8b0d6b;
                }
                .desc {
                    display: block;
                    font-size: 20px;
                    margin-top: 20px;
                }
            }
        }
        .right-item {
            height: 100%;
            width: 46%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            .form-container {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 70%;
                .Logo {
                    font-size: 50px;
                    font-family: cursive;
                    color: #8b0d6b;
                }
                .title {
                    .item {
                        display: block;
                        font-family: cursive;
                        font-size: 30px;
                    }
                    .title-desc {
                        font-size: 14px;
                        color: #797979;
                    }
                }
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    input {
                        border-radius: 6px;
                        padding: 8px 10px;
                        outline: none;
                        border: 1px solid rgb(151, 150, 150, 0.3);
                        &::selection {
                            color: #fff;
                            background-color: #8b0d6b;
                        }
                    }
                    .btn-submit {
                        margin-top: 10px;
                        padding: 8px;
                        background-color: rgb(139, 13, 107, 0.5);
                        color: #fff;
                        font-size: 20px;
                        border: none;
                        cursor: pointer;
                    }
                    label {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .form-error {
                            display: block;
                            color: red;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
                .or {
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }
                button {
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    gap: 8px;
                    border: 1px solid rgb(151, 150, 150, 0.3);
                    border-radius: 4px;
                    cursor: pointer;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span {
                        line-height: 20px;
                    }
                }
                .register-link {
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    span {
                        color: #8b0d6b;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.row-4 {
    gap: calc(8% / 3);
    display: flex;
    .column-4 {
        width: 23%;
    }
}
.row-6 {
    display: flex;
    gap: 2%;
    .column-6 {
        width: 15%;
    }
}
.row-2 {
    display: flex;
    gap: 4%;
    .column-2 {
        width: 48%;
    }
}
.row-3 {
    display: flex;
    gap: calc(7% / 2);
    .column-3 {
        width: 31%;
    }
}

.scrollbar-custom {
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.text-line_limit-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@keyframes zoom_in {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}
@keyframes zoom_out {
    from {
        scale: 1.2;
    }
    to {
        scale: 1;
    }
}
@keyframes searching {
    from {
        width: 260px;
    }
    to {
        width: 400px;
    }
}
